/* navigation bar */

html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Clarendon URW', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    overflow: auto;
}


.navbar {
    width: 100%;
    padding: 0;
    padding: 5px 0;
    margin: 0;
}

#navbar-primary .navbar-nav {
    /* background: #4B3F2D; */
    width: 100%;
    /* text-align: center; */
    align-content: center;
    display: block;
}

.bg-dark {
    background-color: #4B3F2D!important;
    align-content: center;
}

.nav ul {
    list list-style: none;
}

.nav li {
    display: inline-block;
    list-style: none;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    color: #ffffff;
    float: none;
    font-size: 25pt;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    width: 25%;
}

.nav li:hover {
    background: #f9a61a;
    transition: background .3s;
    
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.log {
    z-index: -1;
    position: relative;
}

.menulinkleft{
    text-align: end;
    padding-right: 100px;
    z-index: 5;
    
}
.menulinkright{
    text-align: start;
    padding-left: 100px;
    z-index: 5;

}


/* hero image */

.hero {
    /* position: relative; */
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.hero-content {
    position: relative;
    font-family: "Clarendon URW", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
    padding-top: 710px;
    font-size: 44px;
}

#aboutUs-content {
    position: relative;
    font-family: "Clarendon URW", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
    font-size: 44px;
    
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: bottom;
}


/* About Us hero image */
#aboutUs {
    position: relative;
    text-align: center;
}

#aboutUs img {
    width: 100%;
    height: auto;
    z-index: 1;
}
#aboutUs h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    color: white;
    z-index: 2;
}


#logo {
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 0px;
    right: 0px;
    /* 
    left:0;
    right: 0; */
    text-align: center;
}

#menu {
    position: relative;
    text-align: center;
}

/* Events hero image */

.eventshero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eventshero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/Events.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.eventshero-content {
    position: relative;
    color: white;
    font-family: "Clarendon URW", sans-serif;
    text-align: center;
    font-size: 63px;
    margin: 0.625rem;
}


/* Menu hero image */

.menuhero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuhero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/MenuIMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.menuhero-content {
    position: relative;
    color: white;
    font-family: "Clarendon URW", sans-serif;
    text-align: center;
    font-size: 63px;
    margin: 0.625rem;
}


/* responsive map on find our beer page */

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 20;
    margin-bottom: 20px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* View More button */
.btn {
border-color:#4B3F2D;
color: white;
background-color: #4B3F2D;
height: 50px;
width: 200px;
padding-top: 15px;
text-align: center;
font-family: "Clarendon URW", sans-serif;
text-shadow:none;
font-size: 30;
justify-content: center;
align-content: center;

}


.featuredbrews-title{
    justify-content: center;
    padding-top: 60px;
    color:#4B3F2D;
    font-family: "Hand of Sean", sans-serif;
      
}

/* Find Our Beer hero image */
#findourbeer {
    position: relative;
    text-align: center;
}

#findourbeer img {
    width: 100%;
    height: auto;
    z-index: 1;
}
#findourbeer h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    color: white;
    z-index: 2;
}

/* Media Queries */

@media (max-width: 1223px) {
    .nav li {
        font-size: 14pt;}

}

@media (max-width: 910px) {
    .nav li {
        padding: 0 20px;
        font-size: 14pt;
        
        }

}
@media (max-width: 750px) {
    .nav li {
        padding: 0 20px;
        font-size: 14pt;
        }
    .hideMenu{
        display: none;
    }
}
@media (min-width: 910px) {
    .hideMenuMobile {
        display: none;
    }
    .navbar-toggler{
        display: none;}
    }
    #navbarToggleExternalContent{
        display: none;
    } 
}

