/* navigation bar */

html,
body,
div,
p,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Clarendon URW', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    overflow: auto;
}


.navbar {
    width: 100%;
    padding: 0;
    padding: 10px 0;
    margin: 0;
}

#navbarBrew,
.navbar-toggler {
    z-index: 4;
}

#navbar-primary .navbar-nav {
    /* background: #4B3F2D; */
    width: 100%;
    /* text-align: center; */
    align-content: center;
    display: block;
}

.bg-dark {
    background-color: #4B3F2D !important;
    align-content: center;
}

.nav ul {
    list list-style: none;
}

.nav a {
    color: #fff;
    text-decoration: none;
    width: 25%;
}

.navbar-nav li:hover {
    background: #f9a61a;
    transition: background .3s;
}

.nav-link {
    color: #fff !important;
    font-size: 20pt;
}

.log {
    z-index: -1;
    position: relative;
}

.p-2 {
    padding: 1rem 2rem!important;
}


/* hero image */

.hero {
    /* position: relative; */
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    position: relative;
    font-family: "Clarendon URW", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
    padding-top: 590px;
    font-size: 80px;
}



/* #aboutUs-content {
    position: relative;
    font-family: "Clarendon URW", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
    font-size: 44px;
     */
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: bottom;
}


/* About Us hero image */
/* #aboutUs {
    position: relative;
    text-align: center;
}

#aboutUs img {
    width: 100%;
    height: auto;
    z-index: 1;
}
#aboutUs h1 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    color: white;
    z-index: 2;
} */


#logo {
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 0px;
    right: 0px;
    
    /* 
    left:0;
    right: 0; */
    text-align: center;
}

/* #menu {
    position: relative;
    text-align: center; */
}

/* Events hero image */

.eventshero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventshero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/Events.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.eventshero-content {
    position: relative;
    color: white;
    font-family: "Clarendon URW", sans-serif;
    text-align: center;
    font-size: 63px;
    margin: 0.625rem;
}


/* Menu hero image */

/* .menuhero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuhero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/MenuIMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.menuhero-content {
    position: relative;
    color: white;
    font-family: "Clarendon URW", sans-serif;
    text-align: center;
    font-size: 63px;
    margin: 0.625rem; */
}


.seasonalBeers {
    padding-top: 100px;
}

/* responsive map on find our beer page */

.map-responsive {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 20;
    margin-bottom: 20px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* View More button */
.btn {
    border-color: #4B3F2D;
    color: white;
    background-color: #4B3F2D;
    height: 50px;
    width: 200px;
    padding-top: 15px;
    text-align: center;
    font-family: "Clarendon URW", sans-serif;
    text-shadow: none;
    font-size: 30;
    justify-content: center;
    align-content: center;
    text-decoration: none;

}

.btn:hover {
    background-color: #36BDB9;
    border: #36BDB9;
    color: #4B3F2D;

}

.featuredbrews-title {
    justify-content: center;
    padding-top: 60px;
    color: #4B3F2D;
    font-family: "Hand of Sean", sans-serif;

}

/* Find Our Beer hero image */
/* #findourbeer {
    position: relative;
    text-align: center;
}

#findourbeer img {
    width: 100%;
    height: auto;
    z-index: 1;
}
#findourbeer h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 40px;
    color: white;
    z-index: 2; */
}

/* Media Queries */

@media (max-width: 1223px) {
    .nav li {
        font-size: 14pt;
    }
}

@media (max-width: 910px) {
    .nav li {
        padding: 0 20px;
        font-size: 14pt;
    }
}

@media (max-width: 750px) {
    .nav li {
        padding: 0 20px;
        font-size: 14pt;
    }

    .hideMenu {
        display: none;
    }

    .hero-content{
        font-size: 14px;
    }


}

@media (min-width: 910px) {
    .hideMenuMobile,
    .navbar-toggler,
    #navbarToggleExternalContent {
        display: none;
    }
}

.topMenu{
    padding-top: 8rem;
}

.topAbout{
    padding-top: 8rem;
}

.findOurBeer{
    padding-top: 8rem;
}

.findOurBeerToo{
    padding-top: 4rem;
}

.eventsPage{
    padding-top: 8rem;
}

.accordion-button{
    background-color: #36BDB9;
    color:#4B3F2D;

} 

.eventsBottom{
    padding-top: 18rem;
}

.eventsPageTop{
    padding-top: 10rem;
}